.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1000px;
  margin: 40px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  display: flex;
  flex-direction: column;  /* Stack children vertically */
  align-items: center;     /* Center-align children horizontally */
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.order-section {
  margin-top: 40px;
  text-align: center;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.error-message.fade-out {
  opacity: 0;
}

.order-text-button {
  padding: 15px 20px;       /* Add padding to give it a button-like size */
  cursor: pointer;          /* Make it evident it's clickable */
  color: black;             /* White text */
  background-color: white;  /* Black background */
  border: 1px solid black;  /* Border to make it stand out */
  transition: 0.3s ease;    /* Smooth transition for hover effect */
  text-align: center;       /* Center align the text */
}

.order-text-button:hover {
  background-color: rgb(235, 233, 233);   /* Change background color on hover */
  transform: scale(1.1);    /* Scale the button up to make it pop on hover */
}

.order-button-container {
  display: flex;           /* Use flexbox for layout */
  justify-content: center; /* Horizontally center the button */
  align-items: center;     /* Vertically center (if needed) */
}

.spacer {
  flex: 1;                 /* Take up equal space on both sides of the button */
}

.order-inputs {
  display: flex;
  justify-content: center;   /* Horizontally centers the children */
  gap: 10px;                 /* Space between each child element */
  margin-bottom: 10px;       /* Space between this container and the button below */
}
